.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    max-width: 95%;
}

.itemWrap {
    background: linear-gradient(
        to bottom,
    rgba(244, 244, 244, 0.35) 0%,
    rgba(186, 186, 186, 0.35) 50%,
    rgba(132, 132, 132, 0.35) 100%
    );
    border-radius: clamp(0.2rem, 2vw ,0.6rem);
    box-shadow: 
    5px 5px 35px 0 rgba(236, 236, 236, 0.15),
    -5px -5px 35px 0 rgba(53, 53, 53, 0.35);
    margin: 1rem;
    padding: 1.3rem;
    
    width: clamp(10rem, 90vw, 50rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    transform: scale(1);
    transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    will-change: transform;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.itemWrap:hover {
    transform: scale(1.05);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.contentWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;   
}

.img {
    border-radius: clamp(0.2rem, 2vw ,0.6rem);
    max-width: 100%;

}

.content {
    width: 100%;
}

.title {
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    max-width: 90%;
}

.date {
    place-self: end;
    font-size: clamp(0.5rem, 2vw, 1.2rem);
}
