.wrap {
    background: linear-gradient(
        to bottom,
    rgba(244, 244, 244, 0.35) 0%,
    rgba(186, 186, 186, 0.35) 50%,
    rgba(132, 132, 132, 0.35) 100%
    );
    border-radius: 0.8rem;
    box-shadow: 
    5px 5px 35px 0 rgba(236, 236, 236, 0.15),
    -5px -5px 35px 0 rgba(53, 53, 53, 0.35);

    min-width: 20rem;
    width: 21.875rem;
    height: 31.25rem;
    padding: 1.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    transform: scale(1);
    transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    will-change: transform;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrap:hover {
    transform: scale(1.1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 15rem;
}

.title {
    font-size: clamp(1.2rem, 1.5vw + 0.8rem, 1.563rem);
    font-weight: 600;
}

.text {
    font-size: clamp(0.7rem, 3vw, 1rem);
}

/* ---------- BREAKPOINTS ---------- */

@media (max-width: 480px) {
    
    .wrap {
        justify-content: space-around;
        min-width: 10rem;
    }
}