.wrap {
    background: linear-gradient(to top, #fce9ef 0%, #9795f0 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentWrap {
    width: 90rem;
    display: flex;
    flex-direction: column;
}


.title {
    font-weight: 900;
    font-size: clamp(2rem, 4vw, 3.125rem);
    color: #653A7A;
    text-align: center;
}

.communication, .mistakes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.content {
    width: 31.25rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.olist, .list {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.olist {
    list-style: decimal;
}
.list {
    list-style: disc;
}

.img {
    border-radius: 50%;
    min-width: 15rem;
    margin: 1rem;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.08);
}

/* ---------- BREAKPOINTS ---------- */
@media (max-width: 800px) {
    .communication, .mistakes {
        width: 100%;
    }

    .communication {
        flex-direction: column-reverse;
    }

    .content {
        width: 100%;
    }

    .mistakes {
        flex-direction: column;
    }

    .img {
        width: 20rem;
    }
}

@media (min-width: 1200px) {
    .contentWrap {
        background: linear-gradient(
        to bottom,
        rgba(244, 244, 244, 0.35) 0%,
        rgba(186, 186, 186, 0.35) 50%,
        rgba(132, 132, 132, 0.35) 100%
        );
        border-radius: clamp(0.2rem, 2vw ,0.6rem);
        box-shadow: 
        5px 5px 35px 0 rgba(236, 236, 236, 0.15),
        -5px -5px 35px 0 rgba(53, 53, 53, 0.35);
        margin: 1rem;
        padding: 1.3rem;
    }
}