.wrap {
    background: hsla(332, 57%, 69%, 1);

    background: linear-gradient(90deg, hsla(332, 57%, 69%, 1) 0%, hsla(208, 90%, 88%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(332, 57%, 69%, 1) 0%, hsla(208, 90%, 88%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(332, 57%, 69%, 1) 0%, hsla(208, 90%, 88%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DD83AD", endColorstr="#C3E1FC", GradientType=1 );
    display: flex;
    align-items: center;
    justify-content: center;

}

.left {
    width: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.text {
    font-size: clamp(1.2rem, 3vw, 1.875rem);
}

.img {
    width: 36rem;
    min-width: 20rem;
    border-radius: 50%;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.08);
}

.btn {
    background-color: #36D6C6;
    width: clamp(8rem, 25vw, 11rem);           
    padding-block: clamp(0.6rem, 2.5vw, 1rem); 
    border-radius: clamp(0.3rem, 1vw, 0.5rem);
    font-size: clamp(1rem, 2vw, 1.375rem);
    text-align: center;
    border: none;
    cursor: pointer;

    position: relative;
    overflow: hidden;
    color: #111;
    transition: background-color 0.3s ease;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.08);

}
.btn span {
    position: relative;
    z-index: 2;
}
  
.btn::after {
    content: "";
    position: absolute;
    top: -50px;
    left: -75px;
    width: 50px;
    height: 155px;
    background: #fff;
    opacity: 0.2;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}
  
.btn:hover::after {
    left: 120%;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
}

/* ---------- BREAKPOINTS ---------- */

@media (max-width: 1000px) {
    .content {
        flex-direction: column-reverse;
    }

    .img {
        max-width: 10rem;
    }

    .left {
        width: 100%;
        gap: 2rem;
        margin-top: 2rem;
    }
    .img {
        min-width: 70%;
        width: 80%;
    }
}