.wrap {
    background-color: #101111;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;
    box-shadow: 0 -1px 1px #101111;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
    color: honeydew;
    font-family: var(--font-comfortaa);

}

.question {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-comfortaa);
    font-size: 0.8rem;
    color: honeydew;

}

.text {
    font-size: 1rem;
}

.nav {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    border: 2px solid honeydew;
    border-radius: 0.8rem;
    padding: 1rem;
}

.img {
    width: 2.5rem;
    filter: invert();
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.img:hover {
    transform: scale(1.2);
}

/* ---------- BREAKPOINTS ---------- */

@media (max-width: 960px) {
    .wrap {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .block {
        width: 80%;
        align-items: center;
    }

    .question {
        width: 80%;
        align-items: center;
    }
}