
.form {
    background-color: rgb(197, 197, 197);
    padding: 1rem;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #1a1b1b;
}

.part {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 0.5rem;
    background-color: honeydew;
    border-radius: 0.2rem;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.08);
}

.inputTime {
    padding: 0.5rem;
    background-color: honeydew;
    border-radius: 0.2rem;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.08);
    
}

.btnSend {
    background-color: honeydew;
    width: clamp(8rem, 25vw, 11rem);           
    padding-block: clamp(0.6rem, 2.5vw, 1rem); 
    border-radius: clamp(0.3rem, 1vw, 0.5rem);
    font-size: clamp(1rem, 2vw, 1.375rem);
    text-align: center;
    border: none;
    cursor: pointer;
    align-self: center;

    position: relative;
    overflow: hidden;
    color: #111;
    transition: background-color 0.3s ease;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.08);

}
.btnSend span {
    position: relative;
    z-index: 2;
}
.btnSend::after {
    content: "";
    position: absolute;
    top: -50px;
    left: -75px;
    width: 50px;
    height: 155px;
    background: rgb(182, 182, 182);
    opacity: 0.2;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}
.btnSend:hover::after {
    left: 120%;
}