.wrap {
    display: flex;
    flex-direction: column;
    max-width: 90rem;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: clamp(2rem, 3vw, 2.5rem)

}

.content {
    display: flex;
    flex-direction: column;
    max-width: 37.5rem;
    gap: 2.2rem;
    
}

.h1 {
    font-weight: 900;
    font-size: clamp(2rem, 4vw, 3.125rem);
    color: #653A7A;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.h2 {
    font-size: clamp(1rem, 3vw, 2.2rem);
}

.p {
    font-size: clamp(0.75rem, 2vw, 1.25rem);
    font-family: var(--font-sofia);
    font-weight: 300;
    font-style: italic;
    padding-left: 5rem;
}

.svg {
    
    width: 40rem;
}

.buttons {
    display: flex;
    margin-block: 2rem;
    gap: 2rem;
}

.btn1 {
    background-color: #36D6C6;
    width: clamp(8rem, 25vw, 11rem);           
    padding-block: clamp(0.6rem, 2.5vw, 1rem); 
    border-radius: clamp(0.3rem, 1vw, 0.5rem);
    font-size: clamp(1rem, 2vw, 1.375rem);
    text-align: center;
    border: none;
    cursor: pointer;

    position: relative;
    overflow: hidden;
    color: #111;
    transition: background-color 0.3s ease;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.08);

}
.btn1 span {
    position: relative;
    z-index: 2;
}
.btn1::after {
    content: "";
    position: absolute;
    top: -50px;
    left: -75px;
    width: 50px;
    height: 155px;
    background: #fff;
    opacity: 0.2;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}
.btn1:hover::after {
    left: 120%;
}

.btn2 {
    background-color: #BABABA;
    width: clamp(8rem, 25vw, 11rem);           
    padding-block: clamp(0.6rem, 2.5vw, 1rem); 
    border-radius: clamp(0.3rem, 1vw, 0.5rem);
    font-size: clamp(1rem, 2vw, 1.375rem);
    text-align: center;
    border: none;
    cursor: pointer;

    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.08);
}
.btn2 span {
    position: relative;
    z-index: 2;
}
  
.btn2::after {
    content: "";
    position: absolute;
    top: -50px;
    left: -75px;
    width: 50px;
    height: 155px;
    background: #fff;
    opacity: 0.2;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}
  
.btn2:hover::after {
    left: 120%;
}

/* ---------- BREAKPOINTS ---------- */

@media (max-width: 1024px) {
    .wrap {
        display: flex;
    }
    
    .main {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .h1 {
        text-align: center;
        margin-inline: 1rem;
    }
    
    .h2 {
        text-align: center;
        margin-inline: 1rem
    }

    .p {
        text-align: center;
        padding-left: 0rem;
        margin-inline: 1rem
    }
    
    .svg {
        max-width: 15rem;
        min-width: none;
    }
}