.wrap {
    display: flex;
    padding: 3rem;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.img {
    width: 37.5rem;
    min-width: 20rem;
}

.title {
    max-width: 37.5rem;
    font-size: clamp(1.6rem, 3vw, 2.5rem);
    margin-block: 10rem;
}

/* ---------- BREAKPOINTS ---------- */

@media (max-width: 768px) {
    .wrap {
        flex-direction: column;
        gap: 1rem;
    }

    .img {
        margin-block: auto;
        width: 20rem;
        min-width: none;
    }

    .title {
        margin-block: auto;
        text-align: center;
        max-width: 30rem;
    }
}