.wrap {
    display: flex;
    flex-direction: column;
    margin-inline: 2rem;
}

.title {
    font-weight: 900;
    font-size: clamp(2rem, 4vw, 3.125rem);
    color: #653A7A;
    text-align: center;
    margin-block: 2rem;
}

.content {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.list {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: 600;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.item {
    font-size: clamp(1rem, 2vw, 1.375rem);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    

}

.logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки */
    grid-template-rows: repeat(2, auto);   /* 2 рядки */
    place-content: center;
    column-gap: 5rem;
    row-gap: 2rem;
}

.imgWrap {
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgHp {
   width: 10rem
}

.imgWw {
    width: 10rem;
}

.imgJam {
    width: 5rem;
}

/* ---------- BREAKPOINTS ---------- */

@media (max-width: 768px) {
    .logos {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    }

    .list {
        text-align: center;
    }

    .imgWrap {
        width: 5rem;
    }

    .imgJam {
        width: 4rem;
    }
}