.wrap {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.title {
    font-weight: 900;
    font-size: clamp(2rem, 4vw, 3.125rem);
    color: #653A7A;
    text-align: center;
    margin-block: 2rem;
}


.sliderWrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.content {
    overflow: hidden;
    width: 65rem;
    padding: 2rem 1rem;
}

.slider {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.cardWrap {
    flex: 0 0 50%; /* Дві картки на екрані */
    box-sizing: border-box;
    padding: 1rem;
}

.card {
    background: linear-gradient(
        to bottom,
        rgba(244, 244, 244, 0.35) 0%,
        rgba(186, 186, 186, 0.35) 50%,
        rgba(132, 132, 132, 0.35) 100%
    );
    border-radius: 0.8rem;
    /* box-shadow:
    0 0 10px rgba(0, 0, 0, 0.1),
    10px 0px 5px rgba(0, 0, 0, 0.08); */
    width: 100%;
    height: 23.125rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.top {
    display: flex;
    align-items: center;
}

.img {
    object-fit: cover;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

.nameWrap {
    width: 100%;
    text-align: center;
}

.name {
    font-size: clamp(1.6rem, 3vw, 2.5rem);
}

.textWrap {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.text {
    font-size: clamp(0.875rem, 1.5vw, 1.125rem);
}

.arrowLeft,
.arrowRight {
    transition: transform 0.3s ease;
}
.arrowLeft {
    transform: rotate(180deg);
}
.arrowLeft:hover {
    transform: rotate(180deg) scale(1.5);
}

.arrowRight:hover {
    transform: scale(1.5);
}

.btn {
    cursor: pointer;
}

/* ---------- BREAKPOINTS ---------- */

@media (max-width: 1080px) {
    .content {
        width: 30rem;
    }

    .cardWrap {
        flex: 0 0 100%;
    }

}

@media (max-width: 400px) {
    .top {
        flex-direction: column;
    }

    .card {
        height: auto;
        min-height: 25rem;
        max-height: 30rem;
    }
}
