.wrap {
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    
}

.content {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 900;
    font-size: clamp(2rem, 4vw, 3.125rem);
    color: #653A7A;
    text-align: center;
    margin-block: 2rem;
}

.text {
    max-width: 70%;
    align-self: center;
    font-size: clamp(1rem, 2vw, 1.375rem);
}

.calendarWrap {
    margin-block: 2rem;
    padding-inline: 1rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn {
    background-color: #36D6C6;
    width: clamp(8rem, 25vw, 11rem);           
    padding-block: clamp(0.6rem, 2.5vw, 1rem); 
    border-radius: clamp(0.3rem, 1vw, 0.5rem);
    font-size: clamp(1rem, 2vw, 1.375rem);
    text-align: center;
    border: none;
    cursor: pointer;
    align-self: center;

    position: relative;
    overflow: hidden;
    color: #111;
    transition: background-color 0.3s ease;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.08);

}
.btn span {
    position: relative;
    z-index: 2;
}
.btn::after {
    content: "";
    position: absolute;
    top: -50px;
    left: -75px;
    width: 50px;
    height: 155px;
    background: #fff;
    opacity: 0.2;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}
.btn:hover::after {
    left: 120%;
}

/* ---------- BREAKPOINTS ---------- */
