.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transition: gap 0.3s ease-in-out;
    height: 22rem;
    width: auto;
}
.wrap:hover {
    gap: 1rem
}

.content {
    width: 9.375rem;
    height: 15rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}


.mark {
    height: 2rem;
    width: 2rem;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.mark:hover {
    transform: scale(1.3);
}

.year {
    font-size: 1.875rem;
    font-weight: 600;
}

.text {
    font-family: var(--font-comfortaa);
}


/* ---------- BREAKPOINTS ---------- */

@media (max-width: 825px) {
    .wrap {
        flex-direction: row;
        gap: 0.5rem;
        width: 22rem;
        height: auto;
    }
    .content {
        flex-direction: row;
        justify-content: center;
        width: 20rem;
        height: 10rem;
        gap: 0.5rem;
    }

    .mark {
        width: 2.7rem;
        height: 2.7rem;
    }

}

@media (max-width: 400px) {
    .wrap {
        width: 100%;
    }
    
    .content {
        display: flex;
        width: 15rem;
        margin-inline: auto;
    }
    .mark{
        display: none;
    }
}